.App {
  text-align: center;
}

.bubbles {
  position: absolute;
  text-align: center;
  top: 10%;
  left: 0%;
  right: 0%;
  bottom: 10%;
}
.notbubbles {
  position: absolute;
  text-align: center;
  top: 0%;
  left: 0%;
  right:0%;
  bottom: 0%;
}
/*Comfort*/
.App-logo {
  position: absolute;
  top: 47%;
  left: 14%;
  right: 0%;
  bottom: 0%;
}

/*InteriorDesign*/
.App-logo1 {
  position: absolute;
  top: 68%;
  left: 61%;
  right: 0%;
  bottom: 0%;
}

/*ExteriorDesign*/
.App-logo2 {
  position: absolute;
  top: 61%;
  left: 13%;
  right: 0%;
  bottom: 0%;
}

/*Build Quality*/
.App-logo3 {
  position: absolute;
  top: 58%;
  left: 36%;
  right: 0%;
  bottom: 0%;
}

/*Performance*/
.App-logo4 {
  position: absolute;
  top: 71%;
  left: 37%;
  right: 0%;
  bottom: 0%;
}

/*FuntoDrive*/
.App-logo5 {
  position: absolute;
  top: 40%;
  left: 63%;
  right: 0%;
  bottom: 0%;
}

/*Fuel Eco*/
.App-logo6 {
  position: absolute;
  top: 55%;
  left: 60%;
  right: 0%;
  bottom: 0%;
}

/*Reliability*/
.App-logo7 {
  position: absolute;
  top: 42%;
  left: 35%;
  right: 0%;
  bottom: 0%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttonContainer {
  padding-bottom: 10;
  padding-top: 30;
  background-color: '#1294EF';
  align-Items: 'center';
  justify-Content: 'center';
  flex-Direction: 'row';
}

.App-button {
  align-Items: 'center';
  background-color: '#1294EF';
  justify-content: 'center';
  border-radius: 4;
  border-color: '#1653bc';
  border-width: 1;
  width: 340;
  height: 60;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
